[run]
branch = True
relative_files = True
source = app

[paths]
source =
    backend/app
    app

[report]
omit =
    */tests/*
    */.venv/*
    */__init__.py

show_missing = True
skip_covered = True

